body {
	cursor: url("http://lh5.googleusercontent.com/-pTdX-dCKIi4/Tu1Uh8msUpI/AAAAAAAAAbI/-ADFn0OrSnI/s32/cursor.png"), auto;
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}